.navbar-toggler-icon {
  padding: 25px 10px;
}

.luxury-navbar {
  margin: 0px 1px 1px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 2px gold;
  padding: 0px;
}

.luxury-logo img {
  height: 110px;
  width: auto;
}

.brand-highlight {
  color: #c0a062;
}

.luxury-nav-links .nav-link {
  color: #f5f5f5 !important;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.luxury-nav-links .nav-link:hover {
  color: #c0a062 !important;
}

.auth-btn {
  font-weight: bold;
  border-radius: 20px;
  padding: 6px 16px;
}

.navbar-toggler {
  border-color: #f7c942;
  background: #c0a062 !important;
}

.navbar-collapse.collapse {
  text-align: center !important;
}

#navbar-nav {
  text-align: center !important;
}
