html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #000;
}

.page-content {
  padding-top: 140px;
  background-color: #111111;
}

.global-swiper {
  --swiper-navigation-size: 18px;
  padding: 30px 0px;
}

.global-swiper .swiper-button-prev,
.global-swiper .swiper-button-next {
  width: 20px;
  height: 20px;
  padding: 6px;
  box-sizing: content-box;
  border-radius: 999px;
  color: rgb(255 223 26);
  border: 1px solid rgb(247 201 66);
  background: #f7c94236;
  box-shadow: 0 4px 14px rgb(255 168 19 / 97%);
  transition: background 0.25s, color 0.25s, transform 0.18s, box-shadow 0.25s,
    border-color 0.25s;
}

.vehicle-global-swiper .swiper-button-prev,
.vehicle-global-swiper .swiper-button-next {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(247 201 66);
  background: #f7c94236;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.97);
}

.global-swiper .swiper-button-prev::after,
.global-swiper .swiper-button-next::after {
  font-size: var(--swiper-navigation-size) !important;
  font-weight: 600;
  line-height: 1;
}

.global-swiper .swiper-button-prev:hover,
.global-swiper .swiper-button-next:hover {
  color: #f7c942;
  background: #111;
  border-color: #f7c942;
  transform: translateY(-1px) scale(1.03);
  box-shadow: 0 10px 24px rgba(247, 201, 66, 0.25);
}

.global-swiper .swiper-button-prev {
  left: 8px;
}
.global-swiper .swiper-button-next {
  right: 8px;
}

@media (max-width: 576px) {
  .global-swiper .swiper-button-prev,
  .global-swiper .swiper-button-next {
    width: 20px;
    height: 20px;
    padding: 4px;
  }
  .global-swiper {
    --swiper-navigation-size: 16px;
  }
}

.global-swiper .swiper-wrapper {
  align-items: stretch;
}
.global-swiper .swiper-slide {
  height: auto; /* let the card define the height */
  display: flex; /* allows child to stretch */
}
.global-swiper .swiper-slide > * {
  width: 100%;
}
.email-link {
  /* text-decoration: none; */
  color: inherit;
}

.email-link:hover {
  color: #f7c942;
}
